In [1]:
import pandas as pd
df=pd.read_excel("INDIA.XLSX")
df=df.loc[(df["Unnamed: 4"]=="Total") & (df["Unnamed: 5"]=="All ages" )& (df["Unnamed: 6"]=="Total")]
df

,"D-10: MIGRANTS BY PLACE OF LAST RESIDENCE, AGE, SEX, MARITAL STATUS FOR DURATION OF RESIDENCE 0-9 YEARS - 2011",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
4,D1510,00,000,INDIA,Total,All ages,Total,141908270,47514362,94393908,...,2412787,365029,93415,271614,116472,25445,91027,0,0,0
103,D1510,01,000,State - JAMMU & KASHMIR (01),Total,All ages,Total,829109,243100,586009,...,9968,1184,363,821,728,175,553,0,0,0
202,D1510,02,000,State - HIMACHAL PRADESH (02),Total,All ages,Total,921080,312389,608691,...,11234,1451,415,1036,750,183,567,0,0,0
301,D1510,03,000,State - PUNJAB (03),Total,All ages,Total,3743486,1326222,2417264,...,58947,13339,6629,6710,4291,1438,2853,0,0,0
400,D1510,04,000,State - CHANDIGARH (04),Total,All ages,Total,260786,136283,124503,...,3272,375,179,196,231,71,160,0,0,0
499,D1510,05,000,State - UTTARAKHAND (05),Total,All ages,Total,1624197,640652,983545,...,29491,2526,684,1842,905,248,657,0,0,0
598,D1510,06,000,State - HARYANA (06),Total,All ages,Total,3626260,1230741,2395519,...,52793,4495,1388,3107,2122,713,1409,0,0,0
697,D1510,07,000,State - NCT OF DELHI (07),Total,All ages,Total,2600912,1316868,1284044,...,44066,3603,1264,2339,1677,591,1086,0,0,0
796,D1510,08,000,State - RAJASTHAN (08),Total,All ages,Total,7219526,1767688,5451838,...,80897,11733,2430,9303,3367,717,2650,0,0,0
895,D1510,09,000,State - UTTAR PRADESH (09),Total,All ages,Total,14412965,2958526,11454439,...,202330,13393,3543,9850,5534,1415,4119,0,0,0
994,D1510,10,000,State - BIHAR (10),Total,All ages,Total,6909439,777227,6132212,...,69136,3916,1043,2873,959,122,837,0,0,0
1093,D1510,11,000,State - SIKKIM (11),Total,All ages,Total,102474,47074,55400,...,1122,626,271,355,184,98,86,0,0,0
1192,D1510,12,000,State - ARUNACHAL PRADESH (12),Total,All ages,Total,253224,124595,128629,...,3375,1147,622,525,296,87,209,0,0,0
1291,D1510,13,000,State - NAGALAND (13),Total,All ages,Total,254685,129698,124987,...,3062,1337,722,615,691,209,482,0,0,0
1390,D1510,14,000,State - MANIPUR (14),Total,All ages,Total,195764,60634,135130,...,3477,674,243,431,463,93,370,0,0,0
1489,D1510,15,000,State - MIZORAM (15),Total,All ages,Total,136261,66963,69298,...,2374,1375,677,698,1985,726,1259,0,0,0
1588,D1510,16,000,State - TRIPURA (16),Total,All ages,Total,354081,104262,249819,...,7882,1771,411,1360,643,96,547,0,0,0
1687,D1510,17,000,State - MEGHALAYA (17),Total,All ages,Total,208756,112273,96483,...,2650,1420,444,976,322,82,240,0,0,0
1786,D1510,18,000,State - ASSAM (18),Total,All ages,Total,2896119,785191,2110928,...,55858,7799,2438,5361,4914,526,4388,0,0,0
1885,D1510,19,000,State - WEST BENGAL (19),Total,All ages,Total,8933321,2317940,6615381,...,144284,25855,5591,20264,9506,1283,8223,0,0,0
1984,D1510,20,000,State - JHARKHAND (20),Total,All ages,Total,2999009,674466,2324543,...,46175,4241,587,3654,1086,122,964,0,0,0
2083,D1510,21,000,State - ODISHA (21),Total,All ages,Total,4454572,1242325,3212247,...,69944,14165,1595,12570,3376,299,3077,0,0,0
2182,D1510,22,000,State - CHHATTISGARH (22),Total,All ages,Total,3002954,906802,2096152,...,48612,16838,2005,14833,4802,493,4309,0,0,0
2281,D1510,23,000,State - MADHYA PRADESH (23),Total,All ages,Total,7947991,2285160,5662831,...,109913,21427,4190,17237,6284,1215,5069,0,0,0
2380,D1510,24,000,State - GUJARAT (24),Total,All ages,Total,9521542,3896256,5625286,...,124053,27184,15146,12038,15182,4883,10299,0,0,0
2479,D1510,25,000,State - DAMAN & DIU (25),Total,All ages,Total,106707,76329,30378,...,446,314,265,49,40,11,29,0,0,0
2578,D1510,26,000,State - DADRA & NAGAR HAVELI (26),Total,All ages,Total,118095,73575,44520,...,774,559,470,89,43,15,28,0,0,0
2677,D1510,27,000,State - MAHARASHTRA (27),Total,All ages,Total,20620198,8923334,11696864,...,356331,58011,15646,42365,23139,4771,18368,0,0,0
2776,D1510,28,000,State - ANDHRA PRADESH (28),Total,All ages,Total,11096243,4192868,6903375,...,255544,34019,6084,27935,6571,1188,5383,0,0,0
2875,D1510,29,000,State - KARNATAKA (29),Total,All ages,Total,9197706,3671735,5525971,...,193300,25770,5051,20719,3875,933,2942,0,0,0
2974,D1510,30,000,State - GOA (30),Total,All ages,Total,435131,204275,230856,...,7677,682,174,508,279,82,197,0,0,0
3073,D1510,31,000,State - LAKSHADWEEP (31),Total,All ages,Total,15479,9264,6215,...,166,30,8,22,23,7,16,0,0,0
3172,D1510,32,000,State - KERALA (32),Total,All ages,Total,6010350,2401726,3608624,...,125718,18809,3685,15124,5035,902,4133,0,0,0
3271,D1510,33,000,State - TAMIL NADU (33),Total,All ages,Total,10526724,4326747,6199977,...,277436,43365,8695,34670,6832,1570,5262,0,0,0
3370,D1510,34,000,State - PUDUCHERRY (34),Total,All ages,Total,276741,122568,154173,...,8892,1172,257,915,248,52,196,0,0,0
3469,D1510,35,000,State - ANDAMAN & NICOBAR ISLANDS (35),Total,All ages,Total,96383,48606,47777,...,1588,424,200,224,89,29,60,0,0,0

In [2]:
dic={}
for index, row in df.iterrows():
    dic[row["Unnamed: 3"].lstrip("State -")[0:-5].upper()]=row["Unnamed: 7"]
dic.pop("")
dic

{'JAMMU & KASHMIR': 829109,
 'HIMACHAL PRADESH': 921080,
 'PUNJAB': 3743486,
 'CHANDIGARH': 260786,
 'UTTARAKHAND': 1624197,
 'HARYANA': 3626260,
 'NCT OF DELHI': 2600912,
 'RAJASTHAN': 7219526,
 'UTTAR PRADESH': 14412965,
 'BIHAR': 6909439,
 'IKKIM': 102474,
 'ARUNACHAL PRADESH': 253224,
 'NAGALAND': 254685,
 'MANIPUR': 195764,
 'MIZORAM': 136261,
 'TRIPURA': 354081,
 'MEGHALAYA': 208756,
 'ASSAM': 2896119,
 'WEST BENGAL': 8933321,
 'JHARKHAND': 2999009,
 'ODISHA': 4454572,
 'CHHATTISGARH': 3002954,
 'MADHYA PRADESH': 7947991,
 'GUJARAT': 9521542,
 'DAMAN & DIU': 106707,
 'DADRA & NAGAR HAVELI': 118095,
 'MAHARASHTRA': 20620198,
 'ANDHRA PRADESH': 11096243,
 'KARNATAKA': 9197706,
 'GOA': 435131,
 'LAKSHADWEEP': 15479,
 'KERALA': 6010350,
 'TAMIL NADU': 10526724,
 'PUDUCHERRY': 276741,
 'ANDAMAN & NICOBAR ISLANDS': 96383}

In [3]:
lis=[]
for key in dic.keys():
    lis.append([key,dic[key]])
out=pd.DataFrame(lis)
out.to_csv("EMPLOYMENT-UN.csv")

In [4]:
import networkx as nx
G=nx.read_gml("Post_Cov_Mig_T.gml")

In [12]:
lis=list(G.edges(data="weight"))

In [16]:
maker=[]
for row in lis:
    if row[0]=="MAHARASHTRA":
        maker.append([row[0],row[1],row[2]])
maker
#######################this does not work somehow#####################

[['MAHARASHTRA', 'ODISHA', 122746],
 ['MAHARASHTRA', 'PUNJAB', 5285],
 ['MAHARASHTRA', 'RAJASTHAN', 209827],
 ['MAHARASHTRA', 'TAMIL NADU', 67325],
 ['MAHARASHTRA', 'UTTAR PRADESH', 645570],
 ['MAHARASHTRA', 'UTTARAKHAND', 463],
 ['MAHARASHTRA', 'WEST BENGAL', 60136],
 ['MAHARASHTRA', 'DELHI NCT', 7245]]

In [7]:
(pd.DataFrame(maker)).to_csv("To_MH2021.csv")

{'weight': 152993}

In [10]:
lis=list(G.edges(nbunch="MAHARASHTRA",data="weight"))
lis2=[]
for row in lis:
    lis2.append([row[0],row[1],row[2]])
lis2

[['MAHARASHTRA', 'ANDHRA PRADESH', 344049],
 ['MAHARASHTRA', 'ASSAM', 2320],
 ['MAHARASHTRA', 'BIHAR', 152993],
 ['MAHARASHTRA', 'CHHATTISGARH', 77281],
 ['MAHARASHTRA', 'GOA', 387294],
 ['MAHARASHTRA', 'GUJARAT', 850727],
 ['MAHARASHTRA', 'HARYANA', 15769],
 ['MAHARASHTRA', 'JAMMU AND KASHMIR', 8054],
 ['MAHARASHTRA', 'JHARKHAND', 50807],
 ['MAHARASHTRA', 'KARNATAKA', 221336],
 ['MAHARASHTRA', 'KERALA', 67389],
 ['MAHARASHTRA', 'MADHYA PRADESH', 729589],
 ['MAHARASHTRA', 'ODISHA', 122746],
 ['MAHARASHTRA', 'PUNJAB', 5285],
 ['MAHARASHTRA', 'RAJASTHAN', 209827],
 ['MAHARASHTRA', 'TAMIL NADU', 67325],
 ['MAHARASHTRA', 'UTTAR PRADESH', 645570],
 ['MAHARASHTRA', 'UTTARAKHAND', 463],
 ['MAHARASHTRA', 'WEST BENGAL', 60136],
 ['MAHARASHTRA', 'DELHI NCT', 7245]]